# Jupyter Notebook processing stage

In [3]:
import pandas as pd

In [5]:
DATA_PATH = "../data/raw_data.json"

def fetch_data() -> pd.DataFrame:
    """
    Funcion que lee los datos en formato json
    """
    data_df = pd.read_json(DATA_PATH)

    return data_df

# Cargamos los datos
data_df = fetch_data()

In [8]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                4 non-null      object
 1   symbol                            4 non-null      object
 2   name                              4 non-null      object
 3   image                             4 non-null      object
 4   current_price                     4 non-null      float64
 5   market_cap                        4 non-null      int64
 6   market_cap_rank                   4 non-null      int64
 7   fully_diluted_valuation           4 non-null      int64
 8   total_volume                      4 non-null      int64
 9   high_24h                          4 non-null      float64
 10  low_24h                           4 non-null      float64
 11  price_change_24h                  4 non-null      float64
 12  price_change_percentage_24h       4 non-null      float64
 13  market_cap_change_24h             4 non-null      float64
 14  market_cap_change_percentage_24h  4 non-null      float64
 15  circulating_supply                4 non-null      float64
 16  total_supply                      4 non-null      float64
 17  max_supply                        2 non-null      float64
 18  ath                               4 non-null      float64
 19  ath_change_percentage             4 non-null      float64
 20  ath_date                          4 non-null      object
 21  atl                               4 non-null      float64
 22  atl_change_percentage             4 non-null      float64
 23  atl_date                          4 non-null      object
 24  roi                               1 non-null      object
 25  last_updated                      4 non-null      object
dtypes: float64(14), int64(4), object(8)
memory usage: 960.0+ bytes

Vemos que algunas variables tienen valores nulos. Como no incluye ninguna de las variables que vamos a almacenar, no le damos importancia.

In [9]:
data_df.describe()

,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,low_24h,price_change_24h,price_change_percentage_24h,market_cap_change_24h,market_cap_change_percentage_24h,circulating_supply,total_supply,max_supply,ath,ath_change_percentage,atl,atl_change_percentage
count,4.000000,4.000000e+00,4.000000,4.000000e+00,4.000000e+00,4.000000,4.000000,4.000000,4.000000,4.000000e+00,4.000000,4.000000e+00,4.000000e+00,2.000000e+00,4.000000,4.000000,4.000000,4.000000
mean,27723.782500,7.063800e+11,3.500000,7.333223e+11,3.072613e+10,28979.657500,27583.207500,-1108.926821,-5.900980,-3.023866e+10,-5.504492,1.517694e+10,2.518485e+10,5.001050e+10,32830.752500,-28.148073,17.186617,285081.307842
std,52878.898182,9.640438e+11,2.380476,9.438510e+11,3.118516e+10,55215.608651,52614.561564,2061.758193,1.576871,3.340635e+10,1.443532,2.989445e+10,4.986796e+10,7.069583e+10,62207.402067,10.342928,33.749643,384636.889703
min,2.410000,9.904957e+10,1.000000,1.104284e+11,5.497631e+09,2.610000,2.390000,-4197.768449,-7.334750,-7.899287e+10,-6.687790,1.994200e+07,1.994200e+07,2.100000e+07,3.650000,-38.580800,0.002686,35872.331610
25%,135.752500,1.333184e+11,1.750000,2.084559e+11,7.469063e+09,149.055000,135.162500,-1217.066515,-6.944780,-3.831994e+10,-6.564273,9.550903e+07,9.550903e+07,2.501575e+10,220.895000,-35.071137,0.325406,76187.143403
50%,1945.995000,2.964051e+11,3.500000,3.446003e+11,2.253362e+10,2079.010000,1933.220000,-118.881240,-6.247075,-1.743139e+10,-5.880065,3.352606e+08,3.668424e+08,5.001050e+10,2619.680000,-29.427570,0.466890,123639.238225
75%,29534.025000,8.694667e+11,5.250000,8.694667e+11,4.579068e+10,30909.612500,29381.265000,-10.741546,-5.203275,-9.350112e+09,-4.820285,1.541669e+10,2.545618e+10,7.500525e+10,35229.537500,-22.504505,17.328101,332533.402665
max,107000.730000,2.133660e+12,6.000000,2.133660e+12,7.233964e+10,111758.000000,106464.000000,-0.176355,-3.775020,-7.098997e+09,-3.570050,6.001728e+10,9.998578e+10,1.000000e+11,126080.000000,-15.156350,67.810000,857174.423310

In [31]:
clean_df = data_df[['id','name','current_price','high_24h','low_24h','price_change_percentage_24h','last_updated']]
print(clean_df)

         id      name  current_price   high_24h    low_24h  \
0   bitcoin   Bitcoin      107000.73  111758.00  106464.00
1  ethereum  Ethereum        3711.79    3960.15    3687.02
2    ripple       XRP           2.41       2.61       2.39
3    solana    Solana         180.20     197.87     179.42

   price_change_percentage_24h              last_updated
0                     -3.77502  2025-10-30T20:24:42.696Z
1                     -5.67936  2025-10-30T20:24:42.716Z
2                     -6.81479  2025-10-30T20:24:42.230Z
3                     -7.33475  2025-10-30T20:24:42.984Z

In [38]:
clean_df['last_updated'] = pd.to_datetime(clean_df['last_updated'])
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           4 non-null      object
 1   name                         4 non-null      object
 2   current_price                4 non-null      float64
 3   high_24h                     4 non-null      float64
 4   low_24h                      4 non-null      float64
 5   price_change_percentage_24h  4 non-null      float64
 6   last_updated                 4 non-null      datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(4), object(2)
memory usage: 352.0+ bytes

/tmp/ipykernel_39747/2007296489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['last_updated'] = pd.to_datetime(clean_df['last_updated'])